data/*.csv
data/*.xlsx
data/*.parquet
data/*.zip

.ipynb_checkpoints/
*.ipynb_checkpoints

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

.venv/
venv/
env/

.idea/
.vscode/
*.iml

.DS_Store
Thumbs.db

*.pkl
*.joblib
*.h5